/* Header */
body {  
  margin:0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display:grid;
  background-color: #FFF9ED;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display:none;
}

body > div {

  width: 100%;
}

.thick-black-hr {
  width:20%;text-align:center;margin-left:30px; margin-right: 50px; border: 3px solid black;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img {
  width: 30%;
  margin: auto;
  right: 200px;
  position: relative;
  top: 20px;
  overflow: hidden;
  border-radius: 50% 50% 0% 0%;
}

.ci img {

  width: 20%;
  margin: auto;
  right: 600px;
  position: relative;
  top: 100px;
  left: 500px;
  overflow: hidden;
  height: 500px;
object-fit: cover;
border-radius: 50% 50% 0% 0%;

}

.cipm {
  width: 20%;
  margin: auto;
  right: 200px;
  position: relative;
  top: 20px;
  overflow: hidden;
  border-radius: 50% 50% 0% 0%;
}

.textboxpm {
  position: relative;

  left: 900px;
  background-color: white;
  z-index: 100;
  width: 40%; top: -300px;
}

.textboxtl {
  position: relative;

  left: 900px;
  background-color: white;
  z-index: 100;
  width: 40%; top: -300px;
}

.destination-header {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 249, 237, 255);
}

.destination-header img {
  width: 100%;
  height: 649px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
  text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}

.yellow-text {
  color: rgba(255,191,0,255);
  font-size: 80px;
}

.SD4 {
  position:relative;
  bottom: 19vh;
  width: 100vw;
  bottom: 180px;
}

.body {
    font-family: Arial, sans-serif;
    background-color: rgba(255,249,237,255);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

.tips-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.tips-container {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgba(255,249,237,255);
  bottom: 180px;
  margin-bottom: 80px;
}

.tips {
    font-family: Arial, sans-serif;
    background-color: rgba(255,249,237,255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  
  }

  .box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    padding: 50px;
    text-align: center;

  }

  .top-text {
    font-weight: bold;
    font-size: 18px;
    height: 60px;
  }

  .bottom-text {
    font-size: 14px;
  }

  .testimonial-container {
    position: relative;
    top: 0px;
    background-color: rgba(255,249,237,255);
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 900px;
}

.testimonial-title {
    text-align: center;
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.carousel-image {
  width: 100%; 
  height: auto; 
  object-fit: cover;
}

.right carousel-control {
  right: 0;
  left: auto;
  background-color: black;
  background-repeat: repeat-x;
}

.section {
  background-color: rgba(255,249,237,255);
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 900px;
  width: 100vw;
}

.textbox {
  position: relative;
  
  top: -100px;
  left: 850px;
  background-color: white;
  z-index: 100;
  width: 35%;
}

.ttop-text {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-top: 14px;
  padding: 20px 20px 20px 20px;
  color: gold;
}

.bbottom-text {
  font-size: 18px;
  text-align: left;
  margin-top: 0px;
  color: black;
  font-weight: 700;
  padding: 20px 20px 20px 20px;   
}

.image-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: 800px;
  background-color: rgba(255,249,237,255);
  position: relative;
  bottom: 300px;

}

.image-wrapper {
  position: relative; 
  width: 33.33%; 
  background-color: rgba(255,249,237,255);
}

.image-wrapper img {
  width: 100%; 
  height: auto; 
  border: 1px solid black; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 8px; 
  color: white; 

}

.tttop-text,
.middle-text,
.bbbottom-text {
  
  background-color: rgba(0, 0, 0, 0); 
  padding: 4px; 
  text-align: center;
  text-shadow: none;
}


.tttop-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: gold;
  font-size: 100px;
  margin-top: 0px;
  position: relative;
  margin-bottom: 0px;
  bottom: 150px;
}

.middle-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  position: relative;
  bottom: 150px;
  text-decoration: none;
}

.bbbottom-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  text-align: center;
  bottom: 150px;
  text-decoration: none;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,000) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0000)));
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0000) 100%);
}

.carousel-control.right {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,000) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0000)));
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0000) 100%);
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: yellow;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(0,0,0,0);
  filter: alpha(opacity=50);
  opacity: .5;
  }

  .carousel-inner > .item > img,
              .carousel-inner > .item > a > img {
                width: 100vw;
              }
.carousel-inner {
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: 800px;
  background-color: rgba(255,249,237,255);
}
  


